.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20vh;
}
.App-login {
  margin-top: 80px;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* color: white; */
}
/* .App-login label{
  align-items: flex-start;
} */

.App-link {
  color: #09d3ac;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
